<% user = User.find_by_remember_token(session[:remember_token]) %>
<h1> Welcome, <%= user.name %>!</h1>

<h2>Newspapers! </h2>
<ul>
	<% Newspaper.all.each do |paper| %>
		<li><%=link_to paper.title, paper %></li>
	<% end %>
</ul>

<a href=<%= new_newspaper_url%> class="btn">Add Newspaper</a>